<div class="image-box">
    <img class="image-box__background-image" src="{{feature_image}}">
    <a href="{{url}}">
            <div class="image-box__overlay">
                <h2 class="image-box__title">{{title}}</h2>
                <div class="image-box__content">
                    <p>{{excerpt words="33"}}</p>
                </div>
                <div class="image-container">
                {{#get "tags" filter="slug:[1, 2, 3, 4, 5, 6, 7, 8, 9 ,10 , 11, 12, 13, 14, 15, 16, 17]"}}
                {{#foreach tags limit=8}}
                <img class="image-container__small-picture" src="./assets/img/{{name}}.gif" alt="asd">
                {{/foreach}}
                {{/get}}
            </div>
            </div>
        </a>
</div>