<div class="image-box">
    <img class="image-box__background-image" src="{{feature_image}}">
    <a href="{{url}}">
            <div class="image-box__overlay">
                <h3 class="image-box__title">{{title}}</h3>
                <div class="image-box__content">
                    <p>{{excerpt words="33"}}</p>
                </div>
                <div class="image-container">
                
                {{#foreach tags }}
                {{#if feature_image}}
                <img class="image-container__small-picture" src="{{img_url feature_image}}" alt="asd">
                {{/if}}
                {{/foreach}}
            </div>
            </div>
        </a>
</div>