{{#is "index"}}
<nav class="navigation">
{{else}}
<nav class="navigation navigation--min">
{{/is}}

    {{#if @site.logo}}
    <a 
        class="navigation__logo--link" 
        href="{{@site.url}}">
            <img class="navigation__logo--img" 
                src="{{@site.logo}}"
                alt="{{@site.title}}" 
            />
    </a>
    {{else}}
    <a class="navigation__logo--link" href="{{@site.url}}">{{@site.title}}</a>
    {{/if}}
    <input type="checkbox" class="navigation__burger--checkbox" id="navigation__burger--checkbox">
    <label for="navigation__burger--checkbox" class="navigation__burger--button">
        <span class="navigation__burger--icon">
            Menu
        </span>
    </label>

        <div class="navigation--left">
            {{#if @site.navigation}}
            {{navigation}}
            {{/if}}
        </div>

        <div class="navigation--right">
            <a class="navigation__link--social socail__linkedin"
                href="https://dk.linkedin.com/company/cphfacilitation">{{>"icons/linkedin"}}</a>
            <p class="navigation__find-us">Find os på</p>
        </div>

</nav>