<nav class="navigation">
    <div class="navigation--left">

        {{#if @site.logo}}
        <a class="navigation__logo--link" href="{{@site.url}}"><img class="navigation__logo--img" src="{{@site.logo}}"
                alt="{{@site.title}}" /></a>
        {{else}}
        <a class="navigation__logo--link" href="{{@site.url}}">{{@site.title}}</a>
        {{/if}}

        {{#if @site.navigation}}
        {{navigation}}
        {{/if}}
    </div>
    <div class="navigation--right">
        <a class="navigation__link--social" href="https://dk.linkedin.com/company/cphfacilitation">In</a>
        <p class="navigation__find-us">Find os på</p>
    </div>

</nav>