{{!< default}}

<main class="site-main">
   <header class="nyheder__header">
      <h1>Om os</h1>
      <section>
         <p>cphfacilitation er et netværk af erfarne og ambitiøse rådgivere, der selv har oplevet at skulle skabe
            kvalificerende løsninger i situationer, hvor hidtidig praksis og aktuelle vilkår ikke slog til.
            Vi har oplevet, hvordan et kompetent blik og systematisk facilitering kan frigøre latente ideer, fremkalde
            nye forståelser og aktivere uudnyttede potentialer.
            Vi ved at nye tilgange og ny viden omsat til praksis skaber nyttige resultater og berigende indsigter.
            Derfor arbejder vi altid med et dobbelt fokus i vores rådgivning: effektskabelse og læring.</p>
         <p>For at kunne håndtere kompleksiteterne og sikre faglighed i processen arbejder rådgiverne i par og team.
            Målet er, at erfaringer, kompetencer og kapacitet til enhver tid skal matche og supplere deltagerne i de
            udviklingsgrupper, som opgaverne skal løses sammen med.
            På den måde sikre vi også, at rådgiverteamet har erfaring med de organisatoriske sammenhænge, hvor arbejdet
            foregår.</p>
         <p>Rådgivergrupperne kan hente sparring og assistance fra alle tilknyttet cphfacilitation.
            Det betyder, at man også kan inddrage forskningspartnere og nøglepersoner fra tidligere forbedringsforløb
            til nyttige ad hoc partnerskaber.
            Det kan f.eks. være som inspiration eller til kvalitetssikring i konkrete forløb eller det kan være for at
            etablere specifikke netværksgrupper.</p>
      </section>
      <h2>Mød rådgiverne i cphfacilitation nedenfor.</h2>
      {{!-- Thomas Mosfeldt --}}
      {{#get "authors" filter="slug:thomas"}}
      <img src="{{profile_image}}" alt="">
      <h3>{{name}}</h3>
      <p>{{location}}</p>
      <a href="mailto:tml@cfl.dk">tml@cfl.dk</a>
      <a href="https://www.linkedin.com/in/thomasmosfeldt">LinkedIn</a>
      {{/get}}
      <p>Thomas Mosfeldt er optaget af at bygge bro mellem topledelsens og medarbejdernes dagligdag, og af at sikre, at
         uddannelse og træning skaber værdi.
         Han har i de seneste 10 år som rådgiver og konsulent arbejdet med at støtte, motivere og inspirere ledere og
         medarbejdere i at nå deres mål ved brug af en palette af værktøjer, bl.a.
         faciliterede teoriinput, 1:1 coaching- og sparringssamtaler, udvikling af lederteams, seminarer, workshops
         m.v..
         Thomas Mosfeldt interesserer sig særligt for samskabelsesdagsordenen og for medledelse som
         gevinstrealiseringsstrategi.</p>
      {{!-- >Hjarn v. Zernichow Borberg --}}
      {{#get "authors" filter="slug:hjarn"}}
      {{#foreach authors}}
      <img src="{{profile_image}}" alt="">
      <h3>{{name}}</h3>
      <p>{{location}}</p>
      <a href="mailto:hjarn.borberg@cphfacilitation.dk">hjarn.borberg@cphfacilitation.dk</a>
      <a href="{{website}}">LinkedIn</a>
      {{/foreach}}
      {{/get}}
      <p>Hjarn v. Zernichow Borberg er cand.polit. og bl.a. forfatter og ekstern lektor på Økonomisk Institut,
         Københavns Universitet.
         Hjarn har i mange år været ansat i flere forskellige funktioner og chefstillinger på Undervisningsministeriets,
         Integrationsministeriets og Justitsministeriets områder.
         Hjarn har en bred erfaring inden for ledelse, økonomi, statistik, politikudvikling, kommunikation,
         digitalisering og procesoptimering.</p>
      {{!-- Knud Nordentoft --}}
      <img src="../assets/img/personer/5a313d557b7a1700017bb80f_Screen Shot 2017-12-13 at 15.45.11.png" alt="">
      <h3>Knud Nordentoft</h3>
      <p>Partner, projektimplementering</p>
      <a href="mailto:knud.nordentoft@cphfacilitation.dk">knud.nordentoft@cphfacilitation.dk</a>
      <a href="https://www.linkedin.com/in/knud-nordentoft-a5b524/">LinkedIn</a>
      <p>Knud Nordentoft har en lang og solid erfaring som lærer, skoleleder og pæd.chef.
         Han er optaget af børn og læring, voksne og læring, livslang læring og læring uden grænser.
         Knud Nordentoft interesserer sig endvidere for, hvordan vi kan indrette institutioner og skoler bedst muligt
         således, at de til enhver tid fremmer læring, god trivsel og dermed den gode udvikling.
         Med sin brede erfaring og gode portion nysgerrighed vil han gerne indgå kvalificerende i alle udviklende og
         lærende partnerskaber.</p>
      {{!-- Peter Kjøgx --}}
      <img src="../assets/img/personer/5a313d800672a700015a66bd_Screen Shot 2017-12-13 at 15.45.45.png" alt="">
      <h3>Peter Kjøgx</h3>
      <p>Partner, projektdesign, kvalitetsledelse og gevinstrealisering</p>
      <a href="mailto:peder.kjoegx@cphfacilitation.dk">peder.kjoegx@cphfacilitation.dk</a>

      <p>Peder Kjøgx har siden 1972 beskæftiget sig med aktionslæring, organisationskultur og udviklingsledelse i
         offentlige, private og frivillige organisationer som underviser, leder og rådgiver i lokale, regionale og
         internationale sammenhænge.
         Peder Kjøgx er optaget af at revitalisere synergier og samspil mellem drift-, projekt-, proces- og
         forandringsledelse.
         Han er erfaren udvikler af kompetente netværk og kulturer, der understøtter samskabelse af løsninger, der får
         mennesker, natur og byer til at blomstre.</p>
      {{!-- Flemming Olsen --}}
      <img src="../assets/img/personer/59444198c389bf3527eb81ba_2f20641.jpg" alt="">
      <h3>Flemming Olsen</h3>
      <p>Partner, planlægning</p>
      <a href="mailto:flemming.olsen@cphfacilitation.dk">flemming.olsen@cphfacilitation.dk</a>

      <p>Flemming Olsen er uddannet lærer, master i offentlig politik og i kulturplanlægning.
         Han har gennem næsten 20 år været direktør på børne- og kulturområdet, og er videnskabelig assistent på CBS.
         Han har stor erfaring med styring og ledelse i et helhedsperspektiv inden for den kommunale sektor og er særlig
         optaget af tidligt forebyggende indsatser, dannelse/uddannelse, kunsten og kulturens værdier, samt
         sammenhængskraft og samskabelse i lokalsamfund.</p>
      {{!-- >Michael Søgaard Jørgensen --}}
      <img src="../assets/img/personer/5a313d6449520e00017e9f10_Screen Shot 2017-12-13 at 15.45.56.png" alt="">
      <H3>Michael Søgaard Jørgensen</H3>
      <p>Lektor. Samarbejdspartner</p>
      <a href="mailto:msjo@plan.aau.dk">msjo@plan.aau.dk</a>
      <a href="https://www.linkedin.com/in/michaelsj/">LinkedIn</a>
      <p>Michael Søgaard Jørgensen er uddannet civilingeniør og har en PhD i teknologivurdering. Han er lektor i
         bæredygtig omstilling og bæredygtig innovation ved Institut for Planlægning på Aalborg Universitet, København.
         Hans aktuelle forskningsområder er samskabelse og demokrati i lokal energiplanlægning, cirkulær økonomi som
         strategi for virksomheder og byer samt social innovations roller i samspillet mellem civilsamfund, det
         offentlige og virksomheder.</p>
      {{!-- Niels Johan Juhl-Nielsen --}}
      <img src="../assets/img/personer/5a313d700672a700015a66b4_Screen Shot 2017-12-13 at 15.45.20-p-500.png" alt="">
      <h3>Niels Johan Juhl-Nielsen</h3>
      <p>Cand.scient.adm., MSc., BSc., senior advisor</p>
      <a href="mailto:nielsjohan@gmail.com">nielsjohan@gmail.com</a>
      <a href="https://www.linkedin.com/in/niels-johan-juhl-nielsen-4647553/">LinkedIn</a>
      <p>Niels Johan Juhl-Nielsen har de seneste årtier arbejdet på at skabe sikkerhed og tryghed i kommunen med
         indgange i krise/katastrofe og omstilling til bæredygtighed og i samarbejde med borgere, borgergrupper og
         lokalområder.
         Hans speciale er dialog om og design af den bæredygtige og resiliente omstilling i lokalområdet.
         Han har et pædagogisk-didaktisk, et strukturelt-arkitektonisk og et kreativ-entreprenant modul på lager.</p>
      {{!-- Camilla Newcomb Burgess --}}
      <img src="../assets/img/personer/5a313d3a7b7a1700017bb803_Screen Shot 2017-12-13 at 15.44.54.png" alt="">
      <h3>Camilla Newcomb Burgess</h3>
      <p>Bsc.Edu.Science, Msc.Soc.HRM, proceskonsulent, strategi og udvikling</p>
      <a href="mailto:camilla@burgess.dk">camilla@burgess.dk</a>
      <a href="https://www.linkedin.com/in/camilla-newcomb-burgess-23bb531/">LinkedIn</a>
      <p>Camilla Newcomb Burgess er systemisk orienteret læringsteoretiker og sociolog, og har i en lang årrække
         beskæftiget sig med kommunale strategiske indsatser.
         Hun er i særlig grad optaget af lærende organisationer, og hvordan vi krydsbestøver mindset og adfærd i vores
         organisationer gennem kommunikation og reflektion.
         Camillas passion ligger i spændingsfeltet mellem inddragende processer, lærende partnerskaber og strategiske
         HRM.</p>

   </header>

</main>

</div>